* {
    box-sizing: border-box;
}

body {
    background: #2A7B9B;
    background: linear-gradient(58deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 49%, rgba(156, 204, 90, 0.87) 100%);
}

#logo {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

h1 {
    font-size: 3rem;
}

#add-button {
    border: 0;
    background-color: rgba(0, 255, 0, 0.3);
    font-size: 2rem;
}

#add-button:hover {
    cursor: pointer;
    background-color: rgb(31, 201, 31);
    color: white;
}

#book-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(5, 200px);
    justify-content: center;
    justify-items: center;
    align-content: stretch;
    height: 100vh;
    gap: 10px;
}

.book {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(236, 232, 232, 0.402);
    border-radius: 10px;
}

.book h3,
p {
    margin: 0;
    flex-grow: 1;
}

.book button {
    background-color: transparent;
    border: none;
    justify-self: flex-end;
    align-self: flex-end;
}

.book button:hover {
    color: red;
    cursor: pointer;
}

form {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form div {
    flex-grow: 1;
    display: flex;
    gap: 5px;
}

form div input {
    flex-grow: 1;
}