* {
    box-sizing: border-box;
}

#logo {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

h1 {
    font-size: 3rem;
}

#add-button {
    border: 0;
    background-color: rgba(0, 255, 0, 0.3);
    font-size: 2rem;
}

#add-button:hover {
    cursor: pointer;
    background-color: rgb(31, 201, 31);
    color: white;
}

#book-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(5, 200px);
    justify-content: center;
    justify-items: center;
    align-content: stretch;
    height: 100vh;
    gap: 10px;
}

.book {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(236, 232, 232, 0.402);
    border-radius: 10px;
}

.book h3,
p {
    margin: 0;
    flex-grow: 1;
}

.book button {
    background-color: transparent;
    border: none;
    justify-self: flex-end;
    align-self: flex-end;
}

.book button:hover {
    cursor: pointer;
}